---
import fetchApi from "../lib/strapi";
import type { AboutType } from "../types/about-type";

const about: AboutType = await fetchApi({
  endpoint: "about", // the content type to fetch
  more: false,
});

import Instagram from "../svg/instagram.astro";
import LinkedIn from "../svg/linkedin.astro";
import GitHub from "../svg/github.astro";
import Phone from "./phone.astro";
---

<footer class="gutters">
  <!-- <div class="fore"></div> -->

  <section class="cover quartered">
    <ul>
      <li>
        <a href="/" rel="home">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/now">Now</a>
      </li>
    </ul>

    <nav id="bottom-menu" class="">
      <ul>
        <li><a href="/client">Clients</a></li>
        <li>
          <a href="/budget">Budget</a>
        </li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>

    <address class="footer_contact">
      {/* // TODO: add some more details to this ie subject */}
      <p>
        <a href={`mailto:${about.email}`}>
          {about.email}
        </a>
      </p>
      <p>
        <Phone phone={about.phone} />
      </p>
    </address>

    <!-- TODO: 3 is the wrong number here it doesnt fit the grid properly -->
    <div class="blocks">
      <a href={`https://www.instagram.com/${about.instagram}/`}>
        <Instagram />
      </a>
      <a href={`https://www.linkedin.com/in/${about.linkedin}/`}>
        <LinkedIn />
      </a>
      <a href={`https://github.com/${about.github}/`}>
        <GitHub />
      </a>
    </div>
  </section>

  <div class="spine">
    <p>
      {about.established} - {new Date().getFullYear()}
    </p>
  </div>
</footer>
