---
import fetchApi from "../lib/strapi";
import type { AboutType } from "../types/about-type";
import { Image } from "astro:assets";
import Overlay from "../svg/overlay.astro";

const about: AboutType = await fetchApi({
  endpoint: "about", // the content type to fetch
  //
  more: false,
  populate: {
    profile: true,
  },
});

type breadcrumbTypes = {
  title: string;
  slug: string;
};

const { pathname } = Astro.url;
---

<header class="gutters">
  <!-- TODO: the more pieces here the smaller the text can be this is quite large -->
  <div class="fore breadcrumbs">
    <a href="/" class="">
      {about.name}
    </a>
    {
      Astro.props.breadcrumbs &&
        Astro.props.breadcrumbs.map((breadcrumb: breadcrumbTypes) => (
          <div class="fore">
            <span>&emsp;|&emsp;</span>
            <a href={"/" + breadcrumb.slug}>{breadcrumb.title}</a>
          </div>
        ))
    }

    {
      Astro.props.title && (
        <div class="fore">&emsp;|&emsp;{Astro.props.title}</div>
      )
    }
  </div>
  <!-- TODO: move the tag line to astro -->
  <div class="spine mono-font">PUSHING PIXELS</div>

  <section class="cover split">
    {
      pathname === "/" ? (
        <article class="full">
          <h1 class="riley understory mono-font">
            <a href="/">{about.name.split(" ")[0]}</a>
          </h1>

          <h2 class="understory bathurst">{about.name.split(" ")[1]}</h2>
        </article>
      ) : (
        <article class="full">
          {/* ? this is very maybe at best */}
          <h1 class="mono-font">{Astro.props.title}</h1>
        </article>
      )
    }

    {
      Astro.props.embed ? (
        <div set:html={Astro.props.embed} aria-hidden="true" />
      ) : (
        <Image
          src={Astro.props.hero || about.profile.url}
          width={about.profile.imageWidth || 1200}
          height={about.profile.imageHeight || 600}
          alt={about.profile.alternativeText || about.name}
          class="col-2 headshot"
        />
      )
    }
  </section>

  <!-- TODO: this needs to take the height from the image -->
  <div id="overlay" style={`height: ${about.profile.imageHeight || 600}px`}>
    <Overlay />
  </div>
</header>
